.ex_1 {
    width: 600px;
}
.p1 {
	letter-spacing: 5px;
}
.p2 {
    letter-spacing: -1px;
}
.p3 {
    word-spacing: 30px;
}
.p4 {
    word-spacing: -5px;
}
.p5 {
    font-variant: small-caps;
}
.p6 {
    text-transform: uppercase;
}
.ex_2_tb {
    border-collapse: separate ;
    empty-cells: hide;
    height: 150px;
    width: 300px;
    border-spacing: 10px;
    border: 1px solid black;
}
.ex_2_tb td {
    background: green;
    text-align: center;
    border: 1px solid black;
    color: white;
}
.ex_3 {
    width: 600px;
}
.ex_3_p1 {
    text-align: justify;
    text-align-last: right;
}
.ex_3_p2 {
    text-align: justify;
    text-align-last: center;
}
.ex_4_p1 {
    border: 1px solid red;
    overflow: hidden;
    width: 80px;
    height: 80px;
}
.ex_4_p2 {
    border: 1px solid red;
    overflow: scroll;
    width: 100px;
    height: 100px;
}
.ex_4_p3 {
    border: 1px solid red;
    overflow: scroll;
    width: 250px;
    height: 250px;
}
.ex_4_p4 {
    overflow: visible;
    border: 1px solid red;
    white-space:nowrap;
    width: 250px;
}
.ex_4_p5 {
    overflow: scroll;
    border: 1px solid red;
    white-space:nowrap;
    width: 250px;
}
.ex_5 {
    height: 300px;
    width: 500px;
    background: url(../../images/1.jpg);
}
.ex_5 table {
    margin-top: 20%;
    margin-left: 30%;
    border-spacing: 10px;
}
.cont_1 {
    text-align: left;
    border: 10px solid rgb(255, 255, 255, 0.5);
    color: white;
}
.cont_2 {
    text-align: left;
    border: 10px solid white;
    color: white;
    opacity: 0.7;
}
#p1 {
    text-shadow: 12px 12px 0px grey;
}
#p2 {
    text-shadow: 12px 12px 2px grey;
}
#p3 {
    text-shadow: 12px 12px 0px blue, -12px -12px 0px red;
}
#p4 {
    color: rgba(0,0,0, 0.6);
    text-shadow: 2px 2px 3px rgba(0,0,0, 0.1);
}
#p5 {
    font: bold 25px sans-serif;
    color: #089dcb;;
    text-shadow: 2px 2px 1px #333, -1px -1px 0 #0ff;
}
#p6 {
    font-size: 30px;
    color:#E2A126;
    text-shadow: 1px 0 1px #000, 
    0 1px 1px #000, 
    -1px 0 1px #000, 
    0 -1px 1px #000;
}
.ex_7 {
    width: 300px;
    height: 800px;
}
#bl1 {
    height: 100px;
    box-shadow: 15px 15px grey;
	border: 1px solid black;
}
#bl2 {
    height: 100px;
    box-shadow: 15px 15px 5px grey;
	border: 1px solid black;
}
#bl3 {
    height: 100px;
    box-shadow: 15px 15px 5px grey, -15px -15px 5px grey;
	border: 1px solid black;
}
#bl4 {
    height: 100px;
    box-shadow: inset 5px 5px 10px grey;
	border: 1px solid black;
}
#bl5 {
    height: 100px;
    box-shadow: inset 5px 5px 10px blue, inset -5px -5px 10px red;
	border: 1px solid black;
}
.ex_8 div {
    margin: 30px;
	width: 200px;
	height: 200px;
	border: 1px solid black;
}
#d1{
	cursor: pointer;
}
#d2{
	cursor: progress;
}
#d3{
	cursor: wait;
}
#d4{
	cursor: move;
}
#d5{
	cursor: not-allowed
}
#d6{
	cursor: url(https://mnogoblog.ru/cur117.cur), auto !important;;
}
#ex_9_p1 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: red;
}
#ex_9_p2 {
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: red;
}
#ex_9_p3 {
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: red;
}
#ex_9_p4 {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: red;
}
.ex_10 div {
    text-align: center;
    width: 700px;
    height: 200px;
    border: 1px solid black;
    background-image: url(../../images/fon1.jpg), url(../../images/fon2.jpg);
    background-position: left, right;
    background-size: 200px 200px, 200px 200px;
    background-repeat: no-repeat, no-repeat;
}
